@model HackDavis2020.Models.UserBluePrints

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
        @foreach (var bluePrint in Model.BluePrints) {
            <div>@bluePrint.Name</div>
            <div>@bluePrint.Description</div>
        }
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.BluePrintIDs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.BluePrintIDs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.User.UserID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
